{% extends 'base_layout.html' %}

{% block content %}
    <h2>{% block title %}Submit experiment{% endblock %}</h2>
    <br/>

    {% if messages.warnings %}
        <div class="alert alert-warning">
            {% for m in messages.warnings %}
                <strong>Warning: </strong>{{ m }}<br/>
            {% endfor %}
        </div>
        <br/>
    {% endif %}

    {% if messages.errors %}
        <div class="alert alert-danger">
            {% for m in messages.errors %}
                <strong>Error: </strong>{{ m }}<br/>
            {% endfor %}
        </div>
        <br/>
    {% endif %}

    {% if messages.info %}
        <div class="alert alert-info">
            {% for m in messages.info %}
                <strong>Info: </strong>{{ m }}<br/>
            {% endfor %}
        </div>
        <br/>
    {% endif%}

    {% if messages.success %}
        <div class="alert alert-success">
            {% for m in messages.success %}
                <strong>Success: </strong>{{ m }}<br/>
            {% endfor %}
        </div>
    {% endif %}

    {% load bootstrap %}
    <form method="post" enctype="multipart/form-data" action="{% url 'SubmitExperiment:index' %}{% if access_code %}{{ access_code }}{% endif %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul>
                {% for m in form.non_field_errors %}
                    <li><p class="text-danger">{{ m }}</p></li>
                {% endfor %}
            </ul>
        {% endif %}

        <fieldset>
            <legend>General</legend>
            {{ form.exp_name|bootstrap }}
            {{ form.in_file|bootstrap }}
        </fieldset>

        <fieldset>
            <legend>Configuration</legend>
            {{ form.default_cfg|bootstrap }}
            {{ form.choose_cfg|bootstrap }}
            {{ form.own_cfg|bootstrap }}
        </fieldset>

        <fieldset>
            <legend>Battery application</legend>
            <div class="form-group">
                <input type="checkbox" name="batt_all" id="batt_all" onclick="switchBatteries();">
                <label for="batt_all">Switch all</label>
            </div>
            {{ form.batt_sts|bootstrap }}
            {{ form.batt_die|bootstrap }}
            {{ form.batt_tu_sc|bootstrap }}
            {{ form.batt_tu_c|bootstrap }}
            {{ form.batt_tu_rab|bootstrap }}
            {{ form.batt_tu_ab|bootstrap }}
            {{ form.batt_tu_bab|bootstrap }}
            <hr/>
            {{ form.batt_tu_bc|bootstrap }}
        </fieldset>

        <br/>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
                <span class="help-block">You will be notified by email when the experiment finishes.</span>
            </div>
        </div>
    </form>

    <script language="JavaScript">
        document.onload=confDisable();

        function confDisable() {
            var def = document.getElementById('{{ form.default_cfg.id_for_label }}').checked;
            var sel = (document.getElementById('{{ form.choose_cfg.id_for_label }}').value != 0);
            var own = (document.getElementById('{{ form.own_cfg.id_for_label }}').value != "");
            document.getElementById('{{ form.default_cfg.id_for_label }}').disabled = (own || sel);
            document.getElementById('{{ form.choose_cfg.id_for_label }}').disabled = (def || own);
            document.getElementById('{{ form.own_cfg.id_for_label }}').disabled = (def || sel);
        }

        function switchBatteries() {
                document.getElementById('{{ form.batt_sts.id_for_label }}').checked ^= true;
                document.getElementById('{{ form.batt_die.id_for_label }}').checked ^= true;
                document.getElementById('{{ form.batt_tu_sc.id_for_label }}').checked ^= true;
                document.getElementById('{{ form.batt_tu_c.id_for_label }}').checked ^= true;
                document.getElementById('{{ form.batt_tu_rab.id_for_label }}').checked ^= true;
                document.getElementById('{{ form.batt_tu_ab.id_for_label }}').checked ^= true;
                document.getElementById('{{ form.batt_tu_bab.id_for_label }}').checked ^= true;
                //document.getElementById('{{ form.batt_tu_bc.id_for_label }}').checked ^= true;
        }
    </script>

{% endblock %}
