{% extends 'base_layout.html' %}

{% block content %}

    <h2 style="text-align: left; display: inline">
        {% block title %}Experiments{% endblock %}
    </h2>

    {# Items on single page control #}
    {% if paginator.def_item_counts %}
    <span style="float: right">
        {{ paginator.get_item_count_picker|safe }}
    </span>
    {% endif %}

    {# Filtering results #}
    {{ form.media }}
    {% load bootstrap %}
    <form method="post" action="{% url 'ViewResults:index' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul>
                {% for m in form.non_field_errors %}
                    <li><p class="text-danger">{{ m }}</p></li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form|bootstrap }}

        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>

    {# Listing the experiments #}
    {% if paginator.object_list %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>


            <tbody>
                {% for e in paginator.object_list %}
                    {% if e.status == 'pending' %}
                    <tr class="info">
                    {% elif e.status == 'running' %}
                    <tr class="success">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{ e.id }}</td>
                        <td>{{ e.name }}</td>
                        <td>{{ e.created|date:'H:i, j M, Y' }}</td>
                        <td>{{ e.status }}</td>
                        <td>
                            <a href="{% url 'ViewResults:experiment' e.id %}">Detail</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>Nothing to show.</h4>
    {% endif %}

    {# Render pagination controls #}
    {{ paginator.get_pagination_links|safe }}
{% endblock %}
