

{% if test_parameter_list %}
    <h2>Test parameters</h2>
    <table class="table">
        {% for t in test_parameter_list %}
            <tr>
                <th>{{ t.name }}</th>
                <td>{{ t.value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if statistic_list %}
    <h2>Statistics</h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Result</th>
        </tr>
        {% for s in statistic_list %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.value }}</td>
                <td>{{ s.result }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if p_value_list %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="btn-block" data-toggle="collapse" href="#collapse1">
                        <i class="glyphicon glyphicon-menu-down"></i>
                        P-Values (click to expand)
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <table class="table">
                    {% for p in p_value_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ p.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endif %}