{% extends 'base_layout.html' %}

{% block content %}
    <h2 style="text-align: left; display: inline">
        {% block title %}Variant detail{% endblock %}
    </h2>
    <span style="float: right">
        <a href="{% url 'ViewResults:test' var.test_id %}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Test {{ var.test_id }}
        </a>
    </span>
    <br/><br/>

    <table class="table">
        <tr>
            <th>ID</th>
            <td>{{ var.id }}</td>
        </tr>
        <tr>
            <th>Index of variant</th>
            <td>{{ var.variant_index }}</td>
        </tr>
        <tr>
            <th>Subtest count</th>
            <td>{{ subtest_list|length }}</td>
        </tr>
        <tr>
            <th>Warning count</th>
            <td>{{ warning_message_list|length }}</td>
        </tr>
        <tr>
            <th>Error count</th>
            <td>{{ error_message_list|length }}</td>
        </tr>
        <tr>
            <th>Standard error output count</th>
            <td>{{ stderr_message_list|length }}</td>
        </tr>
        <tr>
            <th>Name of the test</th>
            <td>{{ test_name }}</td>
        </tr>
    </table>

    {% if user_setting_list %}
        <h2>User settings</h2>
        <table class="table">
            {% for u in user_setting_list %}
                <tr>
                    <th>{{ u.name }}</th>
                    <td>{{ u.value }}</td>
                    </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% include 'ViewResults/variant_detail.html' %}

{% endblock %}