{% extends 'base_layout.html' %}

{% block content %}
    <h2>
    {% block title %}Add access code{% endblock %}
    </h2>
    <br/>
    {% if success %}
        <div class="alert alert-success">
            {% for m in success %}
                <strong>Success: </strong>{{ m }}<br/>
            {% endfor %}
        </div>
        <br/>
    {% endif %}

    {% if errors %}
        <div class="alert alert-danger">
            {% for m in errors %}
                <strong>Error: </strong>{{ m }}<br/>
            {% endfor %}
        </div>
        <br/>
    {% endif %}

    {% load bootstrap %}
    {{ form.media }}
    <form method="post" action="{% url 'Administration:add_access_code' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <ul>
                {% for m in form.non_field_errors %}
                    <li><p class="text-danger">{{ m }}</p></li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form|bootstrap }}
        <br/>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Generate code</button>
            </div>
        </div>
    </form>
{% endblock %}