{% extends 'base_layout.html' %}

{% block content %}
    <h2 style="text-align: left; display: inline">
        {% block title %}Edit user {{ u.username }}{% endblock %}
    </h2>
    <span style="float: right">
        <a href="{% url 'Administration:list_users' %}" class="btn btn-default">
            All users
        </a>
    </span>
    <br/><br/>

    {% if errors %}
        <div class="alert alert-danger">
            {% for m in errors %}
                <strong>Error: </strong>{{ m }}<br/>
            {% endfor %}
        </div>
        <br/>
    {% endif %}

    {% load bootstrap %}
    <form method="post" action="{% url 'Administration:edit_user' u.id %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <ul>
                {% for m in form.non_field_errors %}
                    <li><p class="text-danger">{{ m }}</p></li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form|bootstrap }}
        <br/>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <a href="{% url 'Administration:delete_user' u.id %}" class="btn btn-danger">Delete user</a>
            </div>
        </div>
    </form>
{% endblock %}