{% extends 'base_layout.html' %}

{% block content %}
    <h2 style="text-align: left; display: inline">
        {% block title %}All access codes{% endblock %}
    </h2>
    <span style="float: right">
        <a href="{% url 'Administration:add_access_code' %}" class="btn btn-default">
            Add new access code
        </a>
    </span>
    <br/><br/>

    {% if access_codes %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Valid until</th>
                </tr>
            </thead>
            <tbody>
                {% for ac in access_codes %}
                    <tr>
                        <td>{{ ac.id }}</td>
                        <td>{{ ac.description }}</td>
                        <td>{{ ac.valid_until }}</td>
                        <td>
                            <a href="{% url 'Administration:edit_access_code' ac.id %}" class="btn btn-primary">
                                Details
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-default" onclick="copier('ac_{{ ac.id }}')">Link to clipboard</button>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-bottom: 30px">
                            Link
                        </th >
                        <td colspan="4" style="padding-bottom: 30px">
                            <textarea title="Link" class="form-control" rows="1" id="ac_{{ ac.id }}" readonly="readonly">{{ request.get_host }}{% url 'SubmitExperiment:index' ac.access_code %}</textarea>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nothing to show.</p>
    {% endif %}

    <script>
        function copier(text_id){
            document.getElementById(text_id).select();
            document.execCommand('copy');
        }
    </script>

{% endblock %}