{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>RTT | {% block title %}{% endblock %}</title>

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css" rel="stylesheet" type="text/css">

        <script src="{% static 'js/jquery.min.js' %}" language="JavaScript"></script>
        <script src="{% static 'js/bootstrap.js' %}" language="JavaScript"></script>
        <script src="{% static 'js/scripts.js' %}" language="JavaScript"></script>
        <script charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
        <script charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/json.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Randomness Testing Toolkit <small>Interface for testing randomness.</small></h1>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        RTT
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="topNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'ViewResults:index' %}">
                                View results
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'SubmitExperiment:index' %}">
                                Create new experiment
                            </a>
                        </li>
                        {% if user.is_superuser %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Administration
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'Administration:list_users' %}">
                                            Users
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Administration:add_user' %}">
                                            Create new user
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'Administration:list_access_codes' %}">
                                            Access codes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Administration:add_access_code' %}">
                                            Create new access code
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'Administration:list_predefined_configurations' %}">
                                            Predefined configurations
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Administration:add_predefined_configuration' %}">
                                            Create new configuration
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Hi, {{ user.username }}!
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'edit_account' %}">
                                            Edit account
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'password_change' %}">
                                            Change password
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Logout
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'register' %}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    Register
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    Login
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container content">
            {% block content %}
            {% endblock %}
        </div>
        <hr/>

        <div class="container">
            <footer>
            <p style="text-align: left">
                &copy; {% now 'Y' %} - Randomness Testing Toolkit (<a href="https://github.com/crocs-muni/randomness-testing-toolkit">GitHub</a>),
                <a href="https://crocs.fi.muni.cz">CRoCS</a>, <a href="https://fi.muni.cz">FI MUNI</a>.
            </p>
            </footer>
        </div>
    </body>
</html>