{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>RTT | {% block title %}{% endblock %}</title>

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

        <script src="{% static 'js/jquery.min.js' %}" language="JavaScript"></script>
        <script src="{% static 'js/bootstrap.js' %}" language="JavaScript"></script>
        <script src="{% static 'js/scripts.js' %}" language="JavaScript"></script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Randomness Testing Toolkit <small>Interface for testing randomness.</small></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <ul class="nav nav-pills">
                        <li>
                            <a href="{% url 'index' %}" class="btn btn-default">
                                Home
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'ViewResults:index' %}" class="btn btn-default">
                                View results
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'SubmitExperiment:index' %}" class="btn btn-default">
                                Create new experiment
                            </a>
                        </li>

                        {% if user.is_superuser %}
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Administration<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'Administration:list_users' %}">Users</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Administration:add_user' %}">Create new user</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'Administration:list_access_codes' %}">Access codes</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Administration:add_access_code' %}">Create new access code</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Predefined configurations</a>
                                    </li>
                                    <li>
                                        <a href="#">Create new configuration</a>
                                    </li>
                                </ul>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <li class="dropdown pull-right">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Welcome back, {{ user.username }}!<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'edit_account' %}">Edit account</a>
                                </li>
                                <li>
                                    <a href="{% url 'password_change' %}">Change password</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'logout' %}">Logout</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="pull-right">
                            <a href="{% url 'register' %}">
                                Register
                            </a>
                        </li>
                        <li class="pull-right">
                            <a href="{% url 'login' %}" class="btn btn-primary">
                                Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <hr/>

        <div class="container content">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>